<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
</head>

<body>
<h1>1</h1>
<!-- get提交方法 -->
<a href="/Contorller/name?name=long&amp;num=123">1.1简单参数接受</a>
<a href="/Contorller/name?num=123">1.2requestparam练习</a>
<a href="/Contorller/Test1?name=liu">1.3http练习</a>
<!-- post提交方法 -->
<a href="/Contorller/Test1">1.3http练习</a>

<!-- map-->
<a href="/user/map">map</a>
<!-- 从后台往前台传 -->
<div th:text="${name}"></div>
<!-- redirect 重定向 -->




</body>
</html>