<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:inline="javascript">

	function entityToJson(){
		$.getJSON("getall", { name: "John", id: "123" , size:"男",age:"22"}, function(result){
			console.info(ok);
			});
	}
	function entryJson() {
		$.getJSON("testall", function(result) {
			console.info(ok);
			console.info(result);
		 	for(var i in result){
				tr += "<tr>";
				tr += "<td>" + result[i].id + "</td>";
				tr += "<td>" + result[i].name + "</td>";
				tr += "<td>" + result[i].size + "</td>";
				tr += "<td>" + result[i].age + "</td>";
				tr += "</tr>";
			}
			$("#tr").add(tr);
		});
	};
	 
</script> 
</head>
<body>

<h2>信息</h2>

    <input type="button" value="后台到前台" onclick="entityJson()"/>
    <input type="button" value="前台到后台" onclick="jsonEntity()"/>
    
	 <table border="1">
	   <thead>
	   <tr>
	    <td width="50px">编号</td>
	    <td width="50px">姓名</td>
	    <td width="50px">性别</td>
	    <td width="50px">年龄</td>
	   </tr>
	   </thead>
	   <tbody id="tr">
	   
	   </tbody>
	</table> 
</body>
</html>